<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/shop-item.css') }}" rel="stylesheet">
    </head>
    <body>
    {% block body %}
        {% block navbar %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path("app_index")}}">Symfony</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="{{path("app_cinema")}}">Cinéma</a>
                    </li>
                    <li>
                        <a href="{{path("app_admin")}}">Admin</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
        {% endblock %}
        {% block sideMenu %}
        {% endblock %}
        {% block content %}
        <div class="container">

        <div class="row">

            <div class="col-md-12">
                <h1>Accueil</h1>
                
                <p>Bienvenue sur mon site Symfony</p>
            </div>

        </div>

        </div>
        {% endblock %}
    {% endblock %}
    </body>
    <script src="{{ asset('assets/js/jquery.js') }}" ></script>
    <script src="{{ asset('assets/js/boostrap.min.js') }}" ></script>
</html>